body, html {
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 1.3;
}

.weather-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Use viewport height for full-screen background */
    background: url('Media/WeatherWidget.jpeg') no-repeat center center/cover;
    margin: 0;
    padding: 0;
}

.weather-container {
    position: relative;
    z-index: 1; /* Ensure containers are above background */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.weather-box {
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#weather-box-Disp{
    top: -350px;
    left: -430px;
    width: 385px;
    height: 235px;
    font-size: 9em; /* Increase font size for these boxes */
}

#weather-box-TempDisp{
    top: -200px;
    left: -355px;
    width: 385px;
    height: 235px;
    font-size: 7em; /* Increase font size for these boxes */
}

#weather-box-IconDisp{
    top: -120px;
    left: -410px;
}

#weather-box-Disp,
#weather-box-IconDisp,
#weather-box-TempDisp
{
display: flex;
justify-content: center;
align-items: center;
color: white; 
}

#weather-box-TL,
#weather-box-TR,
#weather-box-BL,
#weather-box-BR {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.8em; /* Increase font size for these boxes */
    color: white;
}

#weather-box-TL {
    top: -435px;
    left: 250px;
    width: 385px;
    height: 235px;
    font-size: 3.2em; 

}

#weather-box-TR {
    top: -435px;
    left: 682px;
    width: 385px;
    height: 235px;

}

#weather-box-BL {
    top: -150px;
    left: 250px;
    width: 385px;
    height: 235px;

}

#weather-box-BR {
    top: -150px;
    left: 682px;
    width: 385px;
    height: 235px;

}

#weather-box-IconDisp img,
.weather-period img {
    width: 90px;  /* Adjusted size */
    height: 90px; /* Adjusted size */
}

#weather-box-HR1,
#weather-box-HR2,
#weather-box-HR3,
#weather-box-HR4,
#weather-box-HR5{
    line-height: 10px;
    color: white;
    font-size: 3.5em; /* Increase font size for these boxes */

} 

#weather-box-HR1 {
    top: 185px;
    left: -525px;
    width: 195px;
    height: 300px;
}

#weather-box-HR2 {
    top: 185px;
    left: -155px;
    width: 195px;
    height: 300px;
}

#weather-box-HR3 {
    top: 185px;
    left: 215px;
    width: 195px;
    height: 300px;
}

#weather-box-HR4 {
    top: 185px;
    left: 565px;
    width: 195px;
    height: 300px;
}

#weather-box-HR5 {
    top: 185px;
    left: 920px;
    width: 195px;
    height: 300px;
}
